---
---
body {
  font-size: 2em;
}

a {
  color: {{site.data.course.links}};
}

a:hover {
  color: {{site.data.course.hover}};
}

.top-buffer { margin-top: 20px; }
  
.navbar {
  background: {{site.data.course.nav_color}};
  padding-top: 0px;
  height: 80px;
}

  
.navbar-collapse, .in {
  background-color: {{site.data.course.nav_color}} !important; 
}

ul.nav a:hover { color: #CCCCFF !important; }

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Callouts */
/* Base styles (regardless of theme) */
.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}
.bs-callout h4 {
margin-top: 0;
font-weight: bold;
}
.bs-callout p:last-child {
margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #d9534f;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f0ad4e;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #5bc0de;
}

@media print {
/* To prevent printing of an element, add this class*/
  .noprint {
    display:none;
  }
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}