---
---

{% comment %}
<li><a href="{{site.base}}/{{site.data.course.resources}}/appointments.html">{% include fa name="calendar-o fa-fw" size="2x" %} Appts</a></li>
{% endcomment %}

<div class = "text-center">
  <h3>Make an Appointment with Matt</h3>
<iframe src="https://jadudm-berea.youcanbook.me/?noframe=true&skipHeaderFooter=true" style="width:100%;height:1000px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true" onload="keepInView(this);"></iframe>
<script>function keepInView(item) {if((document.documentElement&&document.documentElement.scrollTop)||document.body.scrollTop>item.offsetTop)item.scrollIntoView();}</script>
</div>
